<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.username %>さんのお題:「<%= @odai.detail %>」に布教がつきました。</p>
      <p>布教タイトル:<%= @fukyo.title %></p>
      <p>布教詳細<%= @fukyo.detail %></p>
      <p>布教URL<%= @fukyo.URL %></p>
      <p><p><%= link_to '布教にコメントする', fukyo_url(@fukyo) %></p></p>
    
  </body>
</html>