<html>
 <head>
 <%= render 'top/script' %>
 </head>
<body>
  <% provide(:description,@user.username.to_s + "さんのページ") %>
  <% provide(:site_url,url_for( :only_path => false)) %>
  <span class=username><span class= "name" ><%= @username %></span><span class="user" >さんのお題と布教一覧</span></span>
  <div class="image"><%= gravatar_for @user %></div>
  <% if user_signed_in? && current_user.id == @user.id  %>
   <p><div class="name-edit"><%= link_to '名前を変更', edit_user_path(current_user), {class: 'btn btn-primary withripple' } %></div></p>
   <p><div class="icon-edit"><%= link_to 'アイコンを変更(gravatarのリンクに飛びます)', 'https://ja.gravatar.com/', {class: 'btn btn-primary withripple' } %></div></p>
   <p><span class="twitter-icon">Twitterアカウントで登録されている方は先に<%= link_to '設定変更', edit_user_registration_path %>でメールアドレスを登録してからアイコンを変更してください</span></p>
  <% end %>
<p class="alarm">※布教一覧は本人にしか見られません</p>
<% if user_signed_in? && current_user.id == @user.id  %>
<a href="http://twitter.com/share?url=<%= url_for( :only_path => false) %>&amp;text=<%= @user.username %>さんのお題一覧です。レッツ布教！&amp;related=kiryuanzu&amp;hashtags=fukyobako" id="tweet" class="btn btn-info withripple btn-lg" target="_blank" name="tweet">twitterでお題一覧を共有する</a>
<% end %>
<%= render 'users/contents' %>
</body>

